
#cook{
    padding: 60px;
    margin-bottom: 20px;
} 
.text{
    text-align: center;
    color: white;
    border-color: white;
    margin: 20PX;
    background-color: #659494;
    padding:30PX ;

}
.rm{
    border:2px solid ;
    border-color:white;
    display: flex;
    margin:19px;
    background-color: #659494;
    padding:40px ;
}
 

.lok{ 
  border: 2px solid;
}

.pn1{
   width:89PX ;
   height:60px ;
   border:1px solid ;
   padding: 1PX;
   margin-left:140PX;
}
.befafter:before {
    content: "<";
}
.befafter:after {
    content: ">";
}