li {
    list-style-type:none;
    padding-right: 20px;
    font-size: 15px;
    display: inline;

    
    
}
a:hover {
    text-decoration: underline;
}

nav{

margin-right:25px;
padding-right:50px;

}
ol.Breadcrumbs li+li:before{
content: "/";
margin:20px;
}

    

