body{
    background-image: url(image.xd.jpg);
}
.hi{
color :#ff4e00;
}
.pf{
   color: #0B48A8 ;
    font-size: 12px;
  
}
strong{
    color:#ff4e00 ;
}
.bb{
    border-radius: 10PX;
    padding:5PX;
   width: 200px;
   background-color:#13366D;
   color: rgb(240, 240, 230);
   border: none;
   outline: 0;
} .mer{
   display: grid;
   flex-direction: column;
   justify-content: center;
}
.ad{
 font-size: 12PX;
 color: #707070;
}
.ad2{
    border-radius: 10Px;
    padding: 5px;
    width: 200Px;
}