
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #F0EBE9;
}
/* header+projet */
.header{
    display: flex;
    justify-content:space-between;
    background-color: rgb(255, 255, 254,0.1);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    align-items: center;
    z-index: 1;
}
.menuI{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-right: 40px; 
}
.menu{
    color: #C1BBBA;
    text-decoration:none ;
}
.hamburger{
    display: none;
}
.logo{
    font-size: 20px;
    color: #936E4C;
    margin-left: 40px;
}
.heroheader {
   background-repeat: no-repeat;
   height:100vh;
   width: 100%;;
   background-size: cover;
   z-index: -1;
   display: grid;  
   grid-template-columns: 5% 50% 45% ;
   grid-template-rows: repeat(9,10%);
   color: #936E4C;
   font-size:20px;
}  
.paragraph1{
    grid-area: 4/2/5/4;  
}
.paragraph3{
    grid-area: 5/2/6/4;  
}
.paragraph4{
    grid-area: 6/2/7/4; 
}
.btncv{
    grid-area: 8/2/9/3;

}
.btncv{
    color: #936E4C;
    background-color:white;
    border-radius: 13px;
    width: 405px;
    height: 70PX;
}
.heroparagraph{
    font-size: 3em;
}
.container {
    font-family: ubuntu;
}
.imgprojet{
    width: 35vh;
    height: 35vh;
    position: absolute;
    top: 4%;
}
.projet:hover .imgprojet{
    top:-5%;
    border-radius: 50%;
}
.projet{
    background-color:white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}
.sectionprojet{
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns:4% 28% 28% 28% 4% ;
    grid-template-rows: 30% 50% 3%;
    grid-column-gap: 2%;
    grid-row: 8.5;
    }
.grandtitr{
    grid-column:1/6;
    color: #936E4C;
    text-align: center;
    font-size: 5VW;
}
.dv1{
    grid-column: 2/3;
    grid-row: 2/3;
}
.dv2{
 grid-column: 3/4;
 grid-row:2/3 ;
}
.dv3{
    grid-column: 4/5;
    grid-row:2/3;
}
.paragraph2{
   position: absolute;
   bottom: 0%;
   text-align: center;
   display: none; 
   transition: all 9s;
}
.projet:hover .paragraph2{
    display: block;
}
.tit{
   text-align: center;
}
.click{
    text-decoration: none;
    color: gray;
}
.click:hover{
    color: chocolate;
}
.tit{
    color: #936E4C ;
}
.textprojet{
    font-size: 1VW;
}

/* background-image ipad */
@media screen and (min-width: 769px) {
    .heroheader {
        background-image: url('/img/bck1440px.png');
    }
}
/* background-image entre ipad et mobile */
@media screen and (min-width: 376px) and (max-width: 768px) {
    .heroheader {
        background-image: url('/img/bck768px.png');
    }
}
/* responsive header+projet */
@media screen and (max-width: 768px){
  
   *{ 
       margin: 0px;
       padding: 0px;
   }
   body{
    background-color:ghostwhite;
   }
   .menuI{
       display: none;
   }
   .hamburger{
      display: flex;
      margin-right: 45px;
      color:white;
   }
   .heroheader{
       width:100% ;
       block-size: cover;
       height: 100vh;
   }
    .logo{
        width: 20Px;
    }
    .sectionprojet{
        height: 600PX;
        grid-template-columns:4% 44% 44% 4% ;
        grid-template-rows: 7% 42% 47%;
        grid-column-gap: 1%;
         grid-row-gap: 1%;
    }
    .textprojet{
       font-size:0.79em;
    }
    .grandtitr{
        font-size: 1.5em;
    }
   .imgprojet{
       width:25VH ;
       height:25VH ;
   }
    .dv3{
        grid-row:3/4 ;
        grid-column: 2/3;
    }
    .grandtitr{
       align-items: center;
       margin: auto;
    } 
    .heroparagraph{
        font-size: 2em;
    }
}
/* responsive mobile header+ projet */
@media screen and (max-width:376px){
    .heroheader {
        background-color:black
    }
    .logo{
        font-size: 20px;
    }
    .imgprojet{
        width: 15vh;
        height: 15vh;
    }
    .btncv{
        width: 200PX;
    }
    .sectionprojet{
        height: 950PX;
        grid-template-columns:10% 60% 10% ;
        grid-template-rows: 10% 25.33% 25.33% 25.33% ;
        grid-column-gap: 10%;
        grid-row: 2% ;
    }
    .dv1{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .dv2{ 
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .dv3{
        grid-column: 2/3;
        grid-row: 4/5;
    }
     .textprojet  {
        font-size: 0.5em;
     }
     .grandtitr{
         font-size: 100%;
         margin-top: auto;
     }
    .hamburger {
    color:white;
    }
} 
/* descktop patier presentation */
.sectionpresentation{
    width: 90%;
    height: 600px;
    display: grid;
    grid-template-columns: 45% 40% 20%;
    grid-template-rows: 20% 70%  ;
    grid-gap: 3.33% ;
    grid-row:5%;
    margin: auto;
}
.imgpresentation{
    width: 44vh;
    height: 44vh;
    grid-column: 1/2;
    grid-row: 2/3;
}
.titrepresentation{
    grid-column: 1/3;
    grid-row: 1/2;
    color:#936E4C ;
    font-size: 4VW;
    text-align: center;
}
.textpresetation{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size:1.5vw;
}
/* responsive ipad  presentation*/
@media screen and (max-width:768px){
    .sectionpresentation{
        width: 100%;
        height: 350PX;
        grid-template-columns:5% 44% 44% 5% ;
        grid-template-rows: 15% 75%;
        grid-gap: 1% ;
        grid-row: 10%;
       }
       .imgpresentation{
        width:30vh ;
        height:30vh;
        grid-column: 2/3;
        grid-row:2/3;
    }
    .textpresetation{
        font-size: 2vw;
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .titrepresentation{
        grid-column: 2/4;
        grid-row: 1/2;
        color:#936E4C ;
        font-size: 4VW;
        text-align: center;
    }
} 
 /* responsive mobile */
    @media screen and (max-width:376px){
        .sectionpresentation{
            width: 100%;
            display: grid;
            grid-template-columns:10% 70% 10% ;
            grid-template-rows: 5% 51% 36%  ;
            grid-gap: 5%;
            grid-row: 5%;
        }
        .titrepresentation{
            grid-column: 2/3;
            grid-row: 1/2;
            color:#936E4C ;
            font-size: 5vw;
        }
        .textpresetation{
            font-size:3vw;
            grid-column: 2/3;
            grid-row: 3/4; 
            text-align: center; 
        }
        .imgpresentation{
            grid-column: 2/3;
            grid-row: 2/3;
            width: 19vh;
            height: 19vh;
            margin: auto;
        } 
    }
    /* partier de competence */
  #progressbar1>div {
    background-color:white;
    width: 40%;
    height: 100%;
    border-radius: 10px;
  }
  #progressbar2>div {
    background-color:white;
    width: 20%;
    border-radius: 10px;
    height: 100%;
  }
  #progressbar3>div {
    background-color:white;
    width: 10%;
    border-radius: 10px;
    height: 100%;
  }
  .sectioncompetence{
      width: 90%;
      height: 500PX;
      display: grid;                                                                                       
      grid-template-columns: 30% 70%;
      grid-template-rows: 22% 24% 24% 24%;
      grid-gap:2% ;
      margin: auto;
  }
  .titrcompetence{
      grid-column: 2/3;
      grid-row: 1/3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #936E4C;
      font-size: 4vw;
  }
  #progressbar1{
    border-radius: 100px;
    background-color:#837B7B;
    border-radius: 13px;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 30%;
    grid-column: 2/3;
    grid-row: 2/3;
   
  }
  #progressbar2{
    background-color:#837B7B;
    border-radius: 13px;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 30%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #progressbar3{
    background-color:#837B7B;
    border-radius: 13px;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    height: 30%;
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .textcompetence1{
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
  .textcompetence2{
      grid-column: 1/2;
      grid-row: 3/4;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
  .textcompetence3{
      grid-column:1/2;
      grid-row: 4/5;
      font-size:1.33em ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }
  /* responsive  competence ipad */
  @media screen and (max-width:768px){
      .textcompetence{
          font-size: 1em;
      }
  }
  /* responsive  competence mobile  */
  @media screen and (max-width:367px){
      .textcompetence{
          font-size: 0.5em;
      }
      .titrcompetence{
          font-size:   0.78em;
      }
  }