.lig{
    display: none;
}
 .container{
    margin: auto; 
    width: 90%; 
    font-family:karla; 
   
}
.hac{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    width: 550px;
}

.bor1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 550PX;
}
body{
    background-color: 4#FBF7EE;
}
.header{
   display: flex;
  align-items: center;
  font-family:karla;
  justify-content:space-between;
}
.list1{
    list-style-type: none;
    display: flex;  
    justify-content:space-between;
    width: 25%;
}
.list:hover{
    color :#ff4e00;
}
.button{
    border:none; 
    outline:0;
    background:transparent;
    padding: 5px;
}
.button:hover{
    color :#ff4e00;
  
}
.list2{
    display: flex;
    list-style-type: none;
    border-bottom-color: blue;
}
.im1{
    display: flex;
    width:562px;
}  

.buttoni{
    background-color:#0B48A8 ;
    border-radius: 5px;
    padding: 5px;
    color:white;
    border: none;
    outline: 0;
}
 .buttoni:hover{
    background-color :#ff4e00;
    background-image :linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

 }
 
.image{
    display:flex;
    justify-content: flex-end;
}
.designs{
display: flex ;
justify-content: center;
flex-direction: column;   
}
.section{
    display: flex;
    justify-content: space-between;
    margin-top: 10PX;
}
.bt2{
    background-color:#0B48A8;
    padding: 5px;
    border-radius: 5px;
    outline: 0;
    color:white;
    border: none;

}

.bt2:hover{
    background-color :#ff4e00;
    background-image :linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.pi{
    display: flex;
    justify-content: space-between;
    width: 65%;
    font-size: 10px;
    color: darkgray;
}
.pi2{
    width: 8px;
    height: 8px;
}
.par{
    font-size:90%;
    color: darkgray;
}
.ha{
    font-size:260%;
    color: #13366D;
}
.email{
    padding: 5px;
    border-radius: 5px;
    outline: 0;
    border-width: 1px;
    border-color: gray;
    width: 268PX;
}
.div1{
    background-color: white;
    border-radius: 4px;
    border: solid  #C2C2C2;
    width: 250PX;
    padding:5px;
    margin-top:10px;
    height: 250PX;
}
strong{
    color: black;
    background: transparent;
}
.section2{
    display: flex;
    justify-content: space-between;
    padding-top:5%;
}
.divd2{
    background-color: #FFF3D9;
    border-radius: 4px;
    border: solid#C2C2C2;
    justify-content: space-between;
    width:240PX;
    height: 290px;
    padding:2%;
    
}
.bt{
    background-color:#13366D ;
    border-radius: 12px;
    padding: 5px;
    width: 40%;
    color:white;
    border: none;
    outline: 0;
}
.bt:hover{
    background-color :#ff4e00;
    background-image :linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.divd{
display: flex;
justify-content: space-between;
}
.tex{
font-size: 80%;
}
.divd4{
    border-radius: 4px;
    border: solid  #C2C2C2;
    width:500PX;
    height: 240PX;
    padding-left: 2%;
    padding-top: 2%;
    justify-content: space-between;
    width: 250PX;
}
.mg{
   width: 80%;
}
.fr{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
}
.btn{
  width: 70%;
  height: 30PX;
  background-color:#0B48A8 ;
  border-radius:4px; 
  outline: 0;
}
.bot2{
  border:#13366D solid;
  background:transparent ;
  border-radius: 4px;
  width: 80%;
  outline: 0;
}
.prix{
    margin-top:50PX;
}
.uf{
    margin-top: 88PX;
}
.footer{
    margin-top: 50PX;
    color: #13366D;
}
@media screen and (max-width:412px ) {
*{  
    margin: 0;
    padding: 0;
}

.section{
    display: flex;
    flex-wrap: wrap;
}
.image{
    display: none;
}
.list1{
    display: none;
}
.divd2{
    width: 250px;
    margin:auto;
    margin-top:10px ;
    padding-top:20px ;
}
.divd4{
    width: 200px;
    margin: auto;
    margin-top: 10Px;
}
.lig{
    display: flex;
    width: 20PX;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 80px;
}
.ha{
    text-align: center;
    font-size: 25PX;
}
.par{
    font-size: 15PX;
}
.uf{
   margin-top: 60PX;
}
.as{
    display: flex;
    justify-content: space-between;
    height: 30PX;
    margin-top: 12PX;
}
.footer{
    text-align: center;
}
.t{
    margin-top: 12PX;
}
.k{
    padding-top:12px ;
}
.email{
   width: 230PX;
}
.header{
    margin-top: 4PX;
}
.pi{
  width: 300PX  ;
}
.hac{
   display: grid;
  
}
.bor1{
    display: grid;
}
.section2{
    flex-direction: column;
}
.divd{
    flex-direction: column;
}


}







