h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    
}

P {
    
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;

}
body{
    background-color:rgb(245, 244, 237); ;
}